<!DOCTYPE html>
<html lang="pt-br">

<head>

    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        #userDropdown {
            margin-right: 100px; /* Ajuste este valor conforme necessário para mover o dropdown mais para a direita */
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Bem vindo!</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                           
                            
                            <!-- Contêiner Flexbox -->
                            <div style="display: flex; align-items: center;">
                                <!-- Menu Dropdown -->
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                        <!-- Itens do Dropdown -->
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Profile
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout' %}">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Logout
                                        </a>
                                    </div>
                                </div>

                                <!-- Informação do Usuário -->
                                <div>
                                    <a>
                                        {% if user.is_authenticated %}
                                        Seja bem vindo {{ user.username }}! <!-- Exibe o nome de usuário -->
                                        {% else %}
                                        Usuario
                                        {% endif %}
                                    </a>
                                </div>
                            </div>


                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="uploadButton">
                            <i class="fas fa-download fa-sm text-white-50"></i> Upload arquivo!
                        </a>
                        <input type="file" id="fileInput" style="display: none;" accept=".csv"/>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                       <!-- Tempo médio (Mensal) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Tempo médio (Mensal)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="averageMonthlyTime"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tempo total (Anual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Tempo total (Anual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalAnnualTime"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tempo competência atual Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tempo competência atual
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentCompetencyTime"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Total Cards Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Total Cards</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalCardsCount"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Tempo gasto por competência</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <div class="chartjs-size-monitor">
                                            <div class="chartjs-size-monitor-expand">
                                                <div class=""></div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink">
                                                <div class=""></div>
                                            </div>
                                        </div>
                                        <canvas id="myAreaChart" style="display: block; width: 673px; height: 320px;" width="673" height="320" class="chartjs-render-monitor"></canvas>
                                    </div>
                                </div>
                            </div>
</div>


                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Tempo gasto - Entrada x Saída</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>

                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Saída
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Entrada
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">


                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">5 Empresas com mais tempo gasto</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="timeTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Card</th>
                                                    <th>Tempo Entrada (hrs)</th>
                                                    <th>Tempo Saída (hrs)</th>
                                                    <th>Tempo Total (hrs)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Os dados serão inseridos aqui pelo JavaScript -->
                                            </tbody>
                                        </table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"></div></div></div></div>
                                    </div>
                                </div>
                            </div>       

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Logout" abaixo se deseja sair.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.0.2/papaparse.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    function updateGraphs(data) {
        var monthlySeconds = new Array(12).fill(0);

        data.forEach(function(row) {
            var date = row['Date']; // Certifique-se que corresponde ao nome da coluna de datas no seu CSV
            var seconds = row['Time Seconds']; // Certifique-se que corresponde ao nome da coluna de segundos no seu CSV
            var monthIndex = parseInt(date.split('-')[0]) - 1; // Mudança aqui para se adequar ao formato MM-DD-AA
            monthlySeconds[monthIndex] += seconds;
        });

        var monthlyHours = monthlySeconds.map(function(seconds) {
            return seconds / 3600;
        });

        myLineChart.data.datasets[0].data = monthlyHours;
        myLineChart.update();
    }

    function processPieChartData(data) {
        var totalEntrada = 0;
        var totalSaida = 0;

        data.forEach(function(row) {
            var comment = row['Comment']; // Nome da coluna de comentários no seu CSV
            var seconds = row['Time Seconds']; // Nome da coluna de segundos no seu CSV

            if (comment === 'ENTRADA') {
                totalEntrada += seconds;
            } else if (comment === 'SAIDA') {
                totalSaida += seconds;
            }
        });

        // Loga os valores calculados para verificar se estão corretos
        console.log('Total Entrada:', totalEntrada);
        console.log('Total Saída:', totalSaida);

        // Chama a função de atualização do gráfico de pizza
        updatePieChartData(totalEntrada, totalSaida);
    }

    function updateTable(data) {
    // Inicializa o objeto para armazenar os tempos
    let cardTimes = {};

    // Processa cada linha do CSV
    data.forEach(function(row) {
        let card = row['Card'];
        let comment = row['Comment'];
        let seconds = parseInt(row['Time Seconds'], 10);

        // Se o card ainda não foi adicionado, inicializa-o
        if (!cardTimes[card]) {
            cardTimes[card] = { entrada: 0, saida: 0, total: 0 };
        }

        // Soma os segundos baseados no tipo de comentário
        if (comment === 'ENTRADA') {
            cardTimes[card].entrada += seconds;
        } else if (comment === 'SAIDA') {
            cardTimes[card].saida += seconds;
        }

        // Calcula o tempo total
        cardTimes[card].total = cardTimes[card].entrada + cardTimes[card].saida;
    });

    // Converte o objeto em um array e ordena pelo tempo total
    let sortedTimes = Object.keys(cardTimes).map(function(key) {
        let entradaMin = (cardTimes[key].entrada / 3600).toFixed(2);
        let saidaMin = (cardTimes[key].saida / 3600).toFixed(2);
        let totalMin = (cardTimes[key].total / 3600).toFixed(2);
        return { card: key, entrada: entradaMin, saida: saidaMin, total: totalMin };
    });

    sortedTimes.sort(function(a, b) {
        return b.total - a.total; // Ordena do maior para o menor tempo total
    });

    // Seleciona os 5 primeiros e atualiza a tabela
    let tableBody = document.getElementById('timeTable').getElementsByTagName('tbody')[0];
    tableBody.innerHTML = ''; // Limpa o corpo da tabela antes de adicionar novas linhas
    sortedTimes.slice(0, 5).forEach(function(row) {
        let tr = document.createElement('tr');
        tr.innerHTML = `<td>${row.card}</td><td>${row.entrada} hrs</td><td>${row.saida} hrs</td><td>${row.total} hrs</td>`;
        tableBody.appendChild(tr);
    });
    }

    function updateDashboard(data) {
        // Inicializa as variáveis para os cálculos
        let totalSecondsMonthly = 0;
        let totalSecondsAnnual = 0;
        let totalSecondsCurrentMonth = 0;
        let currentMonth = 0;
        let cardSet = new Set();

        data.forEach(function(row) {
            let seconds = parseInt(row['Time Seconds'], 10);
            let date = row['Date'].split('-');
            let month = parseInt(date[0], 10);
            let card = row['Card'];

            // Atualiza os segundos totais mensais e anuais
            totalSecondsMonthly += seconds;
            totalSecondsAnnual += seconds;

            // Adiciona o card a um conjunto para contar os cards únicos
            cardSet.add(card);

            // Atualiza o mês atual se necessário e soma os segundos para o mês mais recente
            if (month > currentMonth) {
                currentMonth = month;
                totalSecondsCurrentMonth = 0; // Reinicia a contagem para o novo mês mais recente
            }
            if (month === currentMonth) {
                totalSecondsCurrentMonth += seconds;
            }
        });

        // Calcula os valores finais
        let averageMonthlyTime = (totalSecondsMonthly / 12 / 3600).toFixed(2);
        let totalAnnualTime = (totalSecondsAnnual / 3600).toFixed(2);
        let totalTimeCurrentMonth = (totalSecondsCurrentMonth / 3600).toFixed(2);
        let totalCards = cardSet.size;

        // Atualiza os cards no dashboard
        document.getElementById('averageMonthlyTime').textContent = `${averageMonthlyTime} h`;
        document.getElementById('totalAnnualTime').textContent = `${totalAnnualTime} h`;
        document.getElementById('currentCompetencyTime').textContent = `${totalTimeCurrentMonth} h`;
        document.getElementById('totalCardsCount').textContent = totalCards;
    }

    // Exporta a função updateGraphs
    window.updateGraphs = updateGraphs;

    // Evento de clique para o botão de upload do gráfico de linhas
    document.getElementById('uploadButton').addEventListener('click', function() {
        document.getElementById('fileInput').click();
    });

    // Evento de mudança para o input de arquivo do gráfico de linhas
    document.getElementById('fileInput').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function(e) {
            var text = e.target.result;
            Papa.parse(text, {
                header: true,
                dynamicTyping: true,
                complete: function(results) {
                    updateGraphs(results.data);
                }
            });
        };

        reader.readAsText(file);
    });

    // Evento de clique para o botão de upload do gráfico de pizza
        document.getElementById('uploadButton').addEventListener('click', function() {
        document.getElementById('fileInput').click();
    });

    // Evento de mudança para o input de arquivo do gráfico de pizza
    document.getElementById('fileInput').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function(e) {
            var text = e.target.result;
            Papa.parse(text, {
                header: true,
                dynamicTyping: true,
                complete: function(results) {
                    processPieChartData(results.data);
                    updateTable(results.data);
                    updateDashboard(results.data);
                }
            });
        };

        reader.readAsText(file);
    });
});

</script>


</body>

</html>